.img img{
    height: 130px;
    width: 170px;
    border-radius: 10px;
}
.first,.second{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}
.second{
    margin-top: 20px;
}
