.container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.card{
    text-align: center;
    padding: 20px 20px 0px 20px;
}
.card .card-body div{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.card .img{
    display: flex;
    align-items: center;
    justify-content:center;
}
.card .img img{
    max-width: 250px;
    max-height: 270px;
    border-radius: 6px;
}