*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.nav{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    padding: 20px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .items{
    padding: 20px;
}
.dropdown{
    position: relative;
    display: none;
}
.dropdown-items{
    text-align: center;
    padding: 8px;
    background-color: gray;
}
.dropdown-items:hover{
    background-color: blue;
    color: white;
}

#dp:hover .dropdown{
    position: absolute;
    top: 3.6rem;
    right: 12rem;
    display: block;
}
.items:nth-child(2):hover{
    background-color: yellow;
}
.items:nth-child(4):hover{
    background-color: gray;
}









