body{
    background-color: black;
    color: white;
}
.nav_Bar .container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.nav_Bar .container .right input{
    width: 400px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid red;
    padding: 3px 10px;
    background-color: black;
    color: white;
}
.nav_Bar .container .right input:focus{
    outline: none;
}
.nav_Bar .container .right input::placeholder{
    color: gray;
}
#yt{
    color: red;
}
.card-img-top{
    border-radius: 10px;
}
.left,.card{
    text-decoration: none;
    color: white;
}